.ic-course-owl {
    .owl-prev {
        background: #333 !important;
        width: 28px;
        height: 28px;

        span {
            font-size: 25px;
            color: #fff;
            padding: 0px;
            line-height: 22px;

        }

        &:focus {
            outline: none;
        }

        &:hover {}
    }

    .owl-next {
        background: #ff6b1b !important;
        width: 28px;
        height: 28px;

        span {
            font-size: 25px;
            color: #fff;
            padding: 0px;
            line-height: 22px;

        }

        &:focus {
            outline: none;
        }

        &:hover {
            background: #FF6B1B;
        }
    }

    .owl-dots {
        display: none;
    }

    .owl-nav {
        position: absolute;
        top: -58px;
        right: 0;
    }
}


.ic-course-category-heading {
    margin-top: 22px;
    margin-bottom: 20px;

    h2 {
        font-family: 'Assistant', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        color: #000000;
    }
}



.course-nav-tabs {
    margin-bottom: 26px;
    border-bottom: 0px;

    li {
        padding-right: 30px;

        a {
            font-family: 'Assistant', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: #333333;
            padding: 0px;

            &:hover {
                border: 0px;
            }
        }
    }

    .nav-link {
        border: none !important;
        position: relative;

    }

    .nav-link.active {
        color: #ff6b1b;
        border-bottom: 1px solid #ff6b1b;
        border: none;


        &::after {
            position: absolute;
            content: "";
            width: 40px;
            height: 4px;
            background: #ff6b1b;
            bottom: -10px;
            left: 50%;
            border-radius: 5px;
            transform: translateX(-50%);
        }
    }
}

.ic-featured-course {
    margin: 35px 0px 60px 0px;
}



.ic-featured-course-warper {
    background: #FFFFFF;
    -webkit-box-shadow: 11px 5px 15px 5px #F3F3F3;
    box-shadow: 0px 4px 10px 3px #F3F3F3;
    padding: 30px 31px 30px 38px;
}

.ic-featured-course-right {

    .title {
        p {
            font-family: 'Assistant', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: #ff6b1b;
            line-height: 24px;
            margin-bottom: 20px;

        }

        h4 {
            font-family: 'Assistant', sans-serif;
            font-weight: 700;
            font-size: 20px;
            color: #333333;
            line-height: 24px;
            margin-bottom: 0px;

            a {
                text-decoration: none;
                color: #333333;
            }
        }

        span {
            font-family: 'Assistant', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: #333333;
            line-height: 24px;
        }
    }

    .body-text {
        p {
            font-family: 'Assistant', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: #333333;
            line-height: 24px;
            margin-top: 17px;
            margin-bottom: 0px;
        }

        .created-by {
            margin-top: 0px;
        }

    }

    .rating-enroll {
        margin-top: 15px;

        .rating {
            display: inline-block;

            i {
                font-size: 16px;
                color: #ff6b1b;
            }

            p {
                font-family: 'Assistant', sans-serif;
                font-weight: 600;
                font-size: 16px;
                color: #333333;
                line-height: 24px;
                display: inline-block;
                margin-bottom: 8px;
                margin-left: 15px;
            }
        }

        .enroll {
            display: inline-block;

            p {
                font-family: 'Assistant', sans-serif;
                font-weight: 600;
                font-size: 16px;
                color: #333333;
                line-height: 24px;
                margin-bottom: 8px;
                margin-left: 20px;
            }
        }
    }

    .price p {
        font-family: 'Assistant', sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: #ff6b1b;
        line-height: 24px;
    }


    .featured-bottom {
        margin-top: 20px;

        button {
            width: 140px;
            height: 55px;
            background: #333333;
            border-radius: 5px;
            border: none;
            font-family: 'Assistant', sans-serif;
            font-weight: 600;
            font-size: 16px;
            display: inline-block;
            color: #ff6b1b;
            transition: all 0.3s ease-in-out;


            &:hover {
                background: #ff6b1b;
                color: #fff;
            }

        }

        p {
            font-family: 'Assistant', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: #333333;
            display: inline-block;
            margin-left: 15px;

            i {
                font-size: 16px;
                color: #333333;
            }
        }

    }


}

.ic-user-experience-heading {
    h2 {
        font-family: 'Assistant', sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #000000;
        line-height: 24px;
        margin-bottom: 24px;
    }
}

.ic-user-experience-warper {
    margin-bottom: 28px;
}


.ic-user-experience-filter {
    width: 95px;
    height: 40px;
    border: 1px solid #ff6b1b;
    border-radius: 5px;
    text-align: center;
    padding-top: 7px;

    i {
        font-size: 16px;
        color: #ff6b1b;
        margin-right: 7px;
    }

    span {
        font-family: 'Assistant', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #ff6b1b;
    }
}

.filter-select {
    float: right;

    .nice-select {
        width: 253px;
        height: 40px;
        border: 1px solid #333;

        span {
            font-family: 'Assistant', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: #333333;
        }

        ul li {
            font-family: 'Assistant', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: #333333;
        }
    }


    ul {
        width: 100%;
    }
}

.experience-enroll {
    margin-top: 0px !important;
}

.ic-user-experience-course-right {
    background: #FFFFFF;
    -webkit-box-shadow: 11px 5px 15px 5px #F3F3F3;
    box-shadow: 0px 4px 10px 3px #F3F3F3;
    padding: 20px 0px 20px 20px;
    margin-bottom: 13px;
}


.experience-course-price {
    margin-top: 10px;

    p {
        font-size: 20px;
        font-family: 'Assistant', sans-serif;
        font-weight: 700;
        color: #ff6b1b;
        margin-bottom: 0px;
    }

}

.ic-col-pl-0 {
    padding-left: 0px;
}


.ic-experience-course-skill {
    h4 {
        font-family: 'Assistant', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 60px;
        color: #333333;
        margin-top: -24px;
    }

    p {
        font-family: 'Assistant', sans-serif;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: -2px;
        line-height: 30px;

        a {
            color: #333333;

            &:hover {
                color: #ff6b1b;
            }
        }

        .active {
            color: #ff6b1b;
            text-decoration: underline;
        }
    }
}

.ic-experience-course-rating {
    margin-top: 23px;
    margin-bottom: 33px;

    h4 {
        font-family: 'Assistant', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 60px;
        color: #333333;
        margin-bottom: -5px;
    }

    i {
        font-size: 14px;
        color: #333333;
    }

    .fa-star {
        font-size: 12px;
    }

}

.ic-experience-course-video-duration {}



.ic-ecperience-course-left {
    .nice-select {
        width: 100%;
        border: none;
        padding-left: 0px;

        ul {
            width: 100%;
        }

        span {
            font-family: 'Assistant', sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: #333333;
        }


        li {
            font-family: 'Assistant', sans-serif;
            color: #333333;
            font-weight: 400;
        }
    }

    .nice-select:after {
        border-bottom: 1px solid #333;
        border-right: 1px solid #333;
        width: 8px;
        height: 8px;
    }
}


.ic-course-pagination {
    margin-top: 18px;
    margin-bottom: 60px;

    .pagination {
        display: inline-flex;
        margin: auto;
    }

    li {
        font-family: 'Assistant', sans-serif;
        font-weight: 600;
        font-size: 16px;
        height: 32px;
        width: 32px;
        background: #333;
        margin-right: 5px;
        line-height: 30px;
        border-radius: 5px;

        a {
            color: #ff6b1b;
            text-decoration: none;


        }
    }

    .active {
        background: #ff6b1b;

        a {
            color: #fff;
        }
    }
}

/**Course Details Page CSS**/


.ic-course-details-banner {
    background: #333333;
}


.ic-course-details-banner-left {
    margin: 52px 0px 64px 0px;

    p {
        margin: 0px;
    }

    .title {
        h2 {
            font-family: 'Assistant', sans-serif;
            font-size: 36px;
            font-weight: 700;
            line-height: 36px;
            color: #ffffff;
            margin-bottom: 20px;
        }

        p {
            font-family: 'Assistant', sans-serif;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            color: #ff6b1b;
            margin-bottom: 20px;
            width: 550px;
        }
    }

    .author-duration-rating {
        margin-bottom: 4px;

        p {
            font-family: 'Assistant', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #ffffff;
        }
    }

    .rating-enroll {
        .rating {
            display: inline-block;

            i {
                font-size: 16px;
                color: #ff6b1b;
            }

            p {
                display: inline-block;
                font-family: 'Assistant', sans-serif;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                color: #ffffff;
            }
        }

        .enroll {
            display: inline-block;

            p {
                font-family: 'Assistant', sans-serif;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                color: #ffffff;
            }
        }
    }

    .price {
        margin-top: 20px;
    }

    .price p {
        font-family: 'Assistant', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 24px;
        color: #ff6b1b;
    }


}




.video-wrapper {
    position: relative;
    margin-top: 30px;
}

.video-wrapper > video {
    width: 100%;
    vertical-align: middle;
    height: auto;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

.video-overlay-play-button {
    box-sizing: border-box;
    width: 95%;
    height: 95%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;

    transition: opacity 150ms;
}

.video-overlay-play-button:hover {
    opacity: 1;
}

.video-overlay-play-button.is-hidden {
    display: none;
}


.ic-course-details-banner-right {
    margin-left: 14px;
    margin-top: 15px;

    .add-cart-btn {
        height: 50px;
        width: 180px;
        background: #FF6B1B;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-family: 'Assistant', sans-serif;
        font-weight: 600;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
        margin-right: 12px;
        display: inline-block;

        &:focus {
            outline: none;
        }

        &:hover {
            background: #fff;
            color: #333;
        }
        &:hover a{
            
            color: #333;
        }
        
        a{
             transition: all 0.3s ease-in-out;
             color: #fff;
            text-decoration: none;
        }

    }

    .buy-now-btn {
        @extend .add-cart-btn;
        width: 150px;
        background: #fff;
        color: #333333;

        &:hover {
            background: #FF6B1B;
            color: #fff;
        }
    }

    .icon {
        width: 50px;
        height: 48px;
        border: 1px solid #ff6b1b;
        border-radius: 5px;
        text-align: center;
        display: inline-block;

        transition: all 0.3s ease;

        &:hover {
            background: #ff6b1b;

        }

        &:hover i {
            color: #fff;
        }

        a {
            text-decoration: none;
        }
    }

    i {
        font-size: 24px;
        color: #FF6B1B;
        line-height: 45px;
        transition: all 0.3s ease;
    }

}

.ic-course-details-main-left {
    margin-top: 30px;
    margin-bottom: 60px;
    background: #F8F8F8;
}

.ic-course-details-nav-tab {
    border-bottom: none;

    .nav-link.active {
        background: #FF6B1B;
        border: none;
        color: #ffffff;
        border-radius: 5px;
        line-height: 25px;
    }

    .nav-link {
        border: none;
        font-family: 'Assistant', sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: #333333;
        border-radius: 5px;
        line-height: 25px;

        &:hover {
            border: none;
        }
    }
}

.ic-whats-learn-tab {
    margin-top: 20px;
}

.ic-whats-learn-left {
    padding-left: 60px;
    padding-right: 28px;

    li {
        list-style-type: none;
        font-family: 'Assistant', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #333333;
        line-height: 30px;

    }

    li:before {
        content: "\eed8";
        font-family: IcoFont !important;
        font-weight: 600;
        font-size: 18px;
        color: #FF6B1B;
        position: absolute;
        left: 40px;
    }

}


.ic-course-detais-top {
    padding-left: 15px;
    margin-bottom: 22px;
}

.ic-course-details-main-right {
    background: #FFFFFF;
    -webkit-box-shadow: 11px 5px 15px 5px #F3F3F3;
    box-shadow: 0px 4px 10px 3px #F3F3F3;
    margin-top: 30px;
    padding: 8px 0px 13px 0px;

    h4 {
        font-family: 'Assistant', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #ff6b1b;
        line-height: 30px;
    }

    ul {

        padding-left: 30px;

        li {

            font-family: 'Assistant', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #333333;
            line-height: 24px;
            list-style-type: none;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                width: 11px;
                height: 11px;
                background: #333;
                left: -28px;
                top: 7px;
            }
        }
    }

    .ic-share-course-icon {
        border-top: 1px solid #FFDAC6;
        padding-top: 22px;

        h4 {
            font-family: 'Assistant', sans-serif;
            font-weight: 700;
            font-size: 20px;
            color: #333;
            line-height: 30px;
            text-align: center;
            margin-bottom: 20px;
        }

        ul {
            text-align: center;
            padding-left: 0px;
            border-bottom: 0px;
        }

        li {
            list-style-type: none;
            display: inline-block;
            margin-right: 8px;

            &::before {
                display: none;
            }

            a {
                text-decoration: none;
                color: #333;
                transition: all 0.3s ease;
                
                
                &:hover{
                    color:#ff6b1b; 
                }
            }

            i {
                font-size: 20px;

            }
        }
    }
}


.ic-certification-btn {
    margin-top: 30px;

    button {
        width: 100%;
        border: none;
        border-radius: 5px;
        height: 50px;
        background: #ff6b1b;
        font-family: 'Assistant', sans-serif;
        font-weight: 600;
        font-size: 16px;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: #333;
        }

        a {
            color: #fff;
            text-decoration: none;
        }

    }
}

#main #faq .card {
  margin-bottom: 30px;
  border: 0;
}

#main #faq .card .card-header {
  border: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
          box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  border-radius: 2px;
  padding: 0;
}

#main #faq .card .card-header .btn-header-link {
  color: #fff;
  display: block;
  text-align: left;
  background: #FF6B1B;
  color: #fff;
      height: 50px;
    line-height: 36px;
        cursor: pointer;
}

#main #faq .card .card-header .btn-header-link:after {
  content: "\f107";
 font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
    position: absolute;
    top: 6px;
    right: 30px;
}

#main #faq .card .card-header .btn-header-link.collapsed {
  background: #333;
  color: #fff;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f106";
}

#main #faq .card .collapsing {
  
  line-height: 30px;
}

#main #faq .card .collapse {
  border: 0;
}

#main #faq .card .collapse.show {
 
  line-height: 30px;
  color: #222;
}

.ic-couse-exercise-main{
    
    .card-body{
           background: #f8f8f8;
    }
    
    .card-header{
        p{
            margin: 0px;
            font-family: 'Assistant', sans-serif;
            font-weight: 700;
            font-size: 18px;
            color: #fff;
        }
        .ic-d-color{
            color: #333;
            
            i{
                margin-right: 10px;
            }
        }
        
        .btn-header-link.collapsed .ic-d-color{
            color: #fff;
        }
        
        .btn-header-link.collapsed{
            background: #333;
        }
    }
}

.ic-course-exercise-file{
    h4{
        font-family: 'Assistant', sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #333333;
        line-height: 30px;
    }
    
    .title2{
        text-align: right;
    }
}

.ic-erercise-heading{
    padding: 22px 17px 15px 17px;
}


    
.ic-course-excrise-body{
    
    p{
         font-family: 'Assistant', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #333333;
        line-height: 48px;
        margin-bottom: 0px;
    }
    a{
         font-family: 'Assistant', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #333333;
        line-height: 48px;
        margin-bottom: 0px;
        text-decoration: none;
        transition: all 0.2s ease;
        i{
            margin-right: 5px;
        }
        
        &:hover{
            color: #FF6B1B;
        }
    }
}

.dd-selected-text{
    line-height: 0px!important; 
}

    .dd-option-text{
        line-height: 0px!important; 
    }
   

.ic-couse-exercise-main{
         padding-bottom: 148px;
}
   #main #faq .card {
    margin-bottom: 15px;
    border: 0;
}
.ic-course-exercise-file{
    padding: 0px 15px;
}

.ic-course-content-main #main #faq .card .card-header .btn-header-link{
    background: #333;
}

.check-icon .ic-checkbox label{
       border: none;
    background: #333;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    line-height: 18px;
    
    i{
        margin-left: 32px;
        font-size: 16px;
        color: #333;
    }
}
.check-icon .ic-checkbox input[type="checkbox"]:checked + label i{
   color: #FF6B1B!important;
}

.ic-course-content-body{
    .check-icon{
        display: inline-block;
            line-height: 25px;
    }
    p{
        display: inline-block;
        font-family: 'Assistant', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #333333;
        line-height: 48px;
        margin: 0px;
            margin-left: 60px;
    }
    
    a{
         font-family: 'Assistant', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #333333;
       text-decoration: none;
        cursor: auto;
        margin: 0px;
            line-height: 40px;
    }
}

.ic-course-content-main .card-body{
    background: #f8f8f8;
}

.ic-course-content-main .card-header p{
    font-family: 'Assistant', sans-serif;
       margin: 0px;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.ic-content-heading{
        padding: 22px 17px 15px 17px;
    
    h4{
        font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
    line-height: 30px;
    }
    .title2 {
    text-align: right;
}
}

.ic-couse-content-tab{
    padding: 0px 15px;
        padding-bottom: 148px;
}




/**exercise file**/

#ic-main #ic-faq .card {
  margin-bottom: 30px;
  border: 0;
}

#ic-main #ic-faq .card .card-header {
  border: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
          box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  border-radius: 2px;
  padding: 0;
}

#ic-main #ic-faq .card .card-header .btn-header-link {
  color: #fff;
  display: block;
  text-align: left;
  background: #FF6B1B;
  color: #fff;
      height: 50px;
    line-height: 36px;
        cursor: pointer;
}

#ic-main #ic-faq .card .card-header .btn-header-link:after {
  content: "\f107";
 font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
    position: absolute;
    top: 6px;
    right: 30px;
}

#ic-main #ic-faq .card .card-header .btn-header-link.collapsed {
  background: #333;
  color: #fff;
}

#ic-main #ic-faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f106";
}

#ic-main #ic-faq .card .collapsing {
  
  line-height: 30px;
}

#ic-main #ic-faq .card .collapse {
  border: 0;
}

#ic-main #ic-faq .card .collapse.show {
 
  line-height: 30px;
  color: #222;
}







