.ic-demo-contact-area {
    .file-upload {
        display: inline-flex;
        align-items: center;
        font-size: 15px;
    }

    .file-upload__input {
        display: none;
    }

    .file-upload__button {
        -webkit-appearance: none;
        background: #FF6B1B;
        border: 2px solid #FF6B1B;
        border-radius: 5px;
        outline: none;
        margin-right: 15px;
        color: #ffffff;
        font-weight: 600;
        cursor: pointer;
        height: 50px;
        width: 190px;
        font-family: 'Assistant', sans-serif;
        font-size: 16px;
    }

    .file-upload__button:active {
        background: #FF6B1B;
    }

    .file-upload__label {
        max-width: 250px;
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-family: 'Assistant', sans-serif;
        font-weight: 400;
        color: #333333;

    }

    h4 {
        font-size: 24px;
        color: #333333;
        font-family: 'Assistant', sans-serif;
        font-weight: 600;
        line-height: 36px;
        margin: 0px;
        margin-top: 15px;
        margin-bottom: 5px;


    }

    p {
        font-size: 16px;
        color: #333333;
        font-family: 'Assistant', sans-serif;
        font-weight: 400;
        line-height: 24px;
        margin: 0px;
            margin-bottom: 20px;
            
    }

    input {
        height: 50px;
        border: 1px solid #333;
        border-radius: 5px;
        line-height: 50px;

        &:focus {
            outline: none;
            box-shadow: none;
            border: 1px solid #333;
        }

        &::placeholder {
            font-size: 16px;
            color: #333333;
            font-family: 'Assistant', sans-serif;
            font-weight: 400;
            line-height: 24px;
        }
    }

    textarea {
        height: 120px;
        border: 1px solid #333;
        border-radius: 5px;

        &:focus {
            outline: none;
            box-shadow: none;
            border: 1px solid #333;
        }

        &::placeholder {
            font-size: 16px;
            color: #333333;
            font-family: 'Assistant', sans-serif;
            font-weight: 400;
            line-height: 24px;
        }
    }

    .ic-demo-contact-btn {
        margin: 60px 0px;
        a {
            height: 50px;
            width: 100%;
            background: #333;
            border-radius: 5px;
            color: #fff;
            padding: 0px;
            line-height: 48px;
            font-family: 'Assistant', sans-serif;
            font-size: 16px;
            font-weight: 600;
            transition: all 0.3s ease-in-out;

            &:focus {
                outline: none;
                box-shadow: none;
            }

            &:hover {
                background: #FF6B1B;
            }
        }


    }

    .form-group{
        margin-bottom: 20px;
    }








}
